/*积分头部开始*/
header {
	width: 100%;
	height: 3.52rem;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
}
header a {
	float: left;
	width: 20%;
	font-size: 1.36rem;
	height: 3.52rem;
	line-height: 3.52rem;
	display: inline-block;
}
.back {
	position: relative;
}
.back span {
	width: 0.88rem;
	height: 1.68rem;
	background: url(../img/back.png) center no-repeat;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -0.84rem;
	left: 1rem;
	background-size: 0.8rem 1.6rem;
}
.title {
	float: left;
	width: 60%;
	font-size: 1.36rem;
	height: 3.52rem;
	line-height: 3.52rem;
	text-align: center;
}
.ptf_right {
	color: #3f3f3f;
}
.ptf_right .Ig_r {
	position: absolute;
	z-index: 999;
	right: .25rem;
	padding-right: 0.8rem;
}
/*积分头部结束*/
/*积分内容开始*/
.Ptop {
	padding-top: 3.52rem;
	padding-bottom: 1.2rem;
}
.Ig_bg {
	background: #fff;
	width: 90%;
	height: 100%;
	margin: 1.6rem auto 0rem;
	border-radius: 0.4rem;
	padding-bottom: 0.8rem;
	box-shadow: 0 0.1rem 0.5rem rgba(51,51,51,.2);
}
.Ig_head {
	border-bottom: 1px dashed #e0e0e0;
	padding-bottom: 1.5rem;
}
.Ig_pai label {
	width: 4.32rem;
	height: 5.68rem;
	display: block;
	margin: 0 auto;
}
.D {
	background: url('../img/pai.png') center no-repeat;
	background-size: 4.2rem 5.6rem;
}
.Ig_jifen {
	font-size: 1.6rem;
	color: #3f3f3f;
	text-align: center;
	line-height: 3rem;
}
.Ig_Lists {
	padding: 0 0.8rem;
}
.Ig_list {
	border-bottom: 1px solid #e0e0e0;
	height: 4.34rem;
}
.Ig_left {
	float: left;
}
.Ig_left span {
	display: block;
	font-size: 1.12rem;
	color: #555;
	margin-top: 0.8rem;	
}
.Ig_left time {
	display: block;
	font-size: 0.96rem;
	color: #aaa;
	line-height: 2rem;
}
.Ig_right {
	float: right;
	font-size: 1.6rem;
	margin-top: 1.5rem;
}
/*积分内容结束*/
/*积分规则内容开始*/
.bdb {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.4rem 0;
}
.dt_bg {
	background-color: #fff;
	margin-top: 0.8rem;
}
.Ir_list{
	padding: 0 0.96rem;
	line-height: 2rem;
	font-size: 1.12rem;
	color: #888;
}
.Ir_left {
	float: left;
}
.Ir_right {
	float: right;
	margin-right: 0.443rem;
}
.Ir_gradeTitle {
	font-size: 1.12rem;
	color: #3f3f3f;
	line-height: 2.88rem;
	padding: 0 0.96rem;
	font-weight: bold;
}
/*积分规则内容结束*/
/*--------我的回答开始------*/
.smallback {
	width: 12% !important;
}
.tabs {
	border: 1px solid #66a4f9;
	width: 80%;
	height: 2.52rem;
	border-radius: 0.4rem;
	margin-top: 0.5rem;
	overflow: hidden;
}
.answer-tabs a {
	display: inline-block;
	float: left;
	text-align: center;
	width: 33.33%;
	height: 2.44rem;
	line-height: 2.444rem;
	color: #66a4f9;
}
.tabs :first-of-type {
	border-right: 1px solid #66a4f9;
}
.tabs :nth-of-type(2) {
	border-right: 1px solid #66a4f9;
}
.tabs a.active {
	background-color: #66a4f9;
	color: #fff;
}
.myAC {	
	margin: 0 auto;
	position: relative;
	height: auto;
	overflow: hidden;
}
.myAC .main {
	position: absolute;
}
/*----------我的回答结束----------*/
/*------我的招聘开始---------*/
.Trecruit {
	width: 60%;
}
.Trecruit a  {
	width: 50%;
}
.Trecruit a:nth-of-type(2){
	border: none;
}
.follow{
	position: absolute;
	right: 0.4rem;
	top: 0;
}
.ad_zanBtn {
	width: 4.8rem;
	height: 2.4rem;
	color: #838383;
	background-color: #fff;
	box-shadow: 0 0.08rem 0.04rem rgba(51,51,51,0.5);
	border-radius: 0.4rem;
	font-size: 1.2rem;
	font-weight: bolder;
	vertical-align: middle;
}
/*-----我的招聘结束------*/
/*----招聘细节开始----*/
header .recruit_title {
	width: 60%;
}
.post_who_title {
	margin-top: 0.4rem;
}
.main_post h2 {
	font-size: 0.96rem;
	color: #3e3e3e;
}
.main_post p {
	margin-top: 0.4rem;
	font-size: 0.96rem;
	color: #888;
	line-height: 1.5rem;
	list-style-position: outside;
}
.post_who_list {
	list-style: decimal; /*数字排列样式*/
	width: 90%;
	margin: 0 auto;
}
.post_who_list li {
	font-size: 0.96rem;
	color: #888;
	line-height: 1.5rem;
	list-style-position: inside; /*li样式位置*/
}
.post_who_other {
	margin-top: 0.8rem;
	font-size: 0.96rem;
	color: #a0a7b9;
}
.post_who_other span {
	margin-right: 0.8rem;
}
/*----招聘细节结束----*/
/*----招聘备注开始-----*/
.textBox {
	width: 100%;
	height: 8rem;
	background-color: #fff;
	margin-top: 0.85rem;
	border-bottom: 1px solid #e1e1e1;
	padding: 1.2rem 0.64rem;
}
.textarea {
	width: 100%;
	height: 100%;
	border: none;  /*去掉边框*/
	outline: none;  /*去掉谷歌自带样式*/
	font-size: 200%;  
	resize: none;  /*不让客户自动伸缩*/
}
.textList {
	margin-top: 0.96rem;
	padding: 0 0.96rem;
}
.textBtn {
	margin-top: 0.64rem;
	width: 100%;
	height: 3.2rem;
	border-radius: 0.4rem;
	color: #fff;
	font-size: 1.28rem;
}
.remarksBox {
	width: 100%;
	border: 1px solid #5799fb;
	background-color: #e8f1ff;
	margin-top: 0.96rem;
	border-radius: 0.4rem;
	padding: 0.8rem 0.72rem;
	font-size: 0.96rem;
}
.remarksLeft {
	float: left;
	width: 13.5%;
}
.remarks {
	float: left;
	color: #888;
	width: 86.5%;
}
/*----招聘备注结束-----*/