/*积分头部开始*/
header {
	width: 100%;
	height: 3.52rem;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
}
header a {
	float: left;
	width: 20%;
	font-size: 1.36rem;
	height: 3.52rem;
	line-height: 3.52rem;
	display: inline-block;
}
.back {
	position: relative;
}
.back span {
	width: 0.88rem;
	height: 1.68rem;
	background: url(../img/back.png) center no-repeat;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -0.84rem;
	left: 1rem;
	background-size: 0.8rem 1.6rem;
}
.title {
	float: left;
	width: 60%;
	font-size: 1.36rem;
	height: 3.52rem;
	line-height: 3.52rem;
	text-align: center;
}
.ptf_right {
	color: #3f3f3f;
}
.ptf_right .Ig_r {
	position: absolute;
	z-index: 999;
	right: .25rem;
	padding-right: 0.8rem;
}
/*积分头部结束*/
/*积分内容开始*/
.Ptop {
	padding-top: 3.52rem;
	padding-bottom: 1.2rem;
}
.Ig_bg {
	background: #fff;
	width: 90%;
	height: 100%;
	margin: 1.6rem auto 0rem;
	border-radius: 0.4rem;
	padding-bottom: 0.8rem;
	box-shadow: 0 0.1rem 0.5rem rgba(51,51,51,.2);
}
.Ig_head {
	border-bottom: 1px dashed #e0e0e0;
	padding-bottom: 1.5rem;
}
.Ig_pai label {
	width: 4.32rem;
	height: 5.68rem;
	display: block;
	margin: 0 auto;
}
.D {
	background: url('../img/pai.png') center no-repeat;
	background-size: 4.2rem 5.6rem;
}
.Ig_jifen {
	font-size: 1.6rem;
	color: #3f3f3f;
	text-align: center;
	line-height: 3rem;
}
.Ig_Lists {
	padding: 0 0.8rem;
}
.Ig_list {
	border-bottom: 1px solid #e0e0e0;
	height: 4.34rem;
}
.Ig_left {
	float: left;
}
.Ig_left span {
	display: block;
	font-size: 1.12rem;
	color: #555;
	margin-top: 0.8rem;	
}
.Ig_left time {
	display: block;
	font-size: 0.96rem;
	color: #aaa;
	line-height: 2rem;
}
.Ig_right {
	float: right;
	font-size: 1.6rem;
	margin-top: 1.5rem;
}
/*积分内容结束*/
/*积分规则内容开始*/
.bdb {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.4rem 0;
}
.dt_bg {
	background-color: #fff;
	margin-top: 0.8rem;
}
.Ir_list{
	padding: 0 0.96rem;
	line-height: 2rem;
	font-size: 1.12rem;
	color: #888;
}
.Ir_left {
	float: left;
}
.Ir_right {
	float: right;
	margin-right: 0.443rem;
}
.Ir_gradeTitle {
	font-size: 1.12rem;
	color: #3f3f3f;
	line-height: 2.88rem;
	padding: 0 0.96rem;
	font-weight: bold;
}
/*积分规则内容结束*/
/*--------我的回答开始------*/
.smallback {
	width: 12% !important;
}
.tabs {
	border: 1px solid #66a4f9;
	width: 80%;
	height: 2.52rem;
	border-radius: 0.4rem;
	margin-top: 0.5rem;
	overflow: hidden;
}
.answer-tabs a {
	display: inline-block;
	float: left;
	text-align: center;
	width: 33.33%;
	height: 2.44rem;
	line-height: 2.444rem;
	color: #66a4f9;
}
.tabs :first-of-type {
	border-right: 1px solid #66a4f9;
}
.tabs :nth-of-type(2) {
	border-right: 1px solid #66a4f9;
}
.tabs a.active {
	background-color: #66a4f9;
	color: #fff;
}
.myAC {	
	margin: 0 auto;
	position: relative;
	height: auto;
	overflow: hidden;
}
.myAC .main {
	position: absolute;
}
/*----------我的回答结束----------*/
/*------我的招聘开始---------*/
.Trecruit {
	width: 60%;
}
.Trecruit a  {
	width: 50%;
}
.Trecruit a:nth-of-type(2){
	border: none;
}
.follow{
	position: absolute;
	right: 0.4rem;
	top: 0;
}
.ad_zanBtn {
	width: 4.8rem;
	height: 2.4rem;
	color: #838383;
	background-color: #fff;
	box-shadow: 0 0.08rem 0.04rem rgba(51,51,51,0.5);
	border-radius: 0.4rem;
	font-size: 1.2rem;
	font-weight: bolder;
	vertical-align: middle;
}
/*-----我的招聘结束------*/
/*----招聘细节开始----*/
header .recruit_title {
	width: 60%;
}
.post_who_title {
	margin-top: 0.4rem;
}
.main_post h2 {
	font-size: 0.96rem;
	color: #3e3e3e;
}
.main_post p {
	margin-top: 0.4rem;
	font-size: 0.96rem;
	color: #888;
	line-height: 1.5rem;
	list-style-position: outside;
}
.post_who_list {
	list-style: decimal; /*数字排列样式*/
	width: 90%;
	margin: 0 auto;
}
.post_who_list li {
	font-size: 0.96rem;
	color: #888;
	line-height: 1.5rem;
	list-style-position: inside; /*li样式位置*/
}
.post_who_other {
	margin-top: 0.8rem;
	font-size: 0.96rem;
	color: #a0a7b9;
}
.post_who_other span {
	margin-right: 0.8rem;
}
/*----招聘细节结束----*/
/*----招聘备注开始-----*/
.textBox {
	width: 100%;
	height: 8rem;
	background-color: #fff;
	margin-top: 0.85rem;
	border-bottom: 1px solid #e1e1e1;
	padding: 1.2rem 0.64rem;
}
.textarea {
	width: 100%;
	height: 100%;
	border: none;  /*去掉边框*/
	outline: none;  /*去掉谷歌自带样式*/
	font-size: 200%;  
	resize: none;  /*不让客户自动伸缩*/
}
.textList {
	margin-top: 0.96rem;
	padding: 0 0.96rem;
}
.textBtn {
	margin-top: 0.64rem;
	width: 100%;
	height: 3.2rem;
	border-radius: 0.4rem;
	color: #fff;
	font-size: 1.28rem;
}
.remarksBox {
	width: 100%;
	border: 1px solid #5799fb;
	background-color: #e8f1ff;
	margin-top: 0.96rem;
	border-radius: 0.4rem;
	padding: 0.8rem 0.72rem;
	font-size: 0.96rem;
}
.remarksLeft {
	float: left;
	width: 13.5%;
}
.remarks {
	float: left;
	color: #888;
	width: 86.5%;
}
.rd_who {
	border-bottom: 1px solid #e0e0e0;
	padding: 0.96rem 0;
}
.rd_how {
	float: left; 
	font-size: 0.96rem;
	margin: 0.5rem 0 0 1.5rem;
}
.rd_lookcard {
	position: absolute;
	width: 5.6rem;
	height: 2.4rem;
	font-size: 0.96rem;
	text-align: center;
	line-height: 2.4rem;
	border-radius: 0.4rem;
	right: 0;
	top: 50%;
	margin-top: -1.2rem;
}
.rd_lookcard a {
	display: block;
	width: 100%;
	height: 100%;
}
.rd_lookcard label {
	display: block;
	color: #fff;
}
.underBtn {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 3.92rem;
	background-color: #f1f1f1;
	box-shadow: 0 -0.16rem 0.24rem rgba(77,77,77,.2);
}
.underBtnIn {
	height: 2.88rem;
	width: 70%;
	background-color: #fe434c;
	margin: 0.52rem auto 0;
	display: block;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 0.4rem;
}
.pTop {
	padding-top: 3.52rem;
	padding-bottom: 1.2rem;
}
.pLR {
	padding-left: 0.64rem;
	padding-right: 0.64rem;
}
.pfBT {
	bottom: 1.6rem !important;
}
/*----招聘备注结束-----*/
/*----我的资源开始-----*/
.post_who_hua {
	padding: 0.4rem 0;
}
.beizhu {
	margin-top: 3rem;
	font-size: 0.96rem;
}
.beizhu > span {
	color: #a9a7b9;
}
/*----我的资源结束-----*/
/*----联系我们开始-----*/
.ct_circle {
	padding: 2.4rem 0;
	text-align: center;
}
.ct_Qbox {
	background: url('../img/icon.png')center no-repeat;
	width: 6.33rem;
	height: 5.6rem;
	overflow: hidden;
	border-radius: 0.8rem;
	display: inline-block;
	background-size: 6.25rem 5.52rem;
}
.ct_usName {
	font-size: 1.2rem;
}
.ct_bg {
	background-color: #fff;
}
.ct_list {
	height: 3.52rem;
	line-height: 3.52rem;
	padding: 0 0.96rem;
	border-bottom: 1px solid #e8e8e8;
}
.ct_usNum {
	height: 100%;
	display: block;
	padding-left: 2.5rem;
	font-size: 1.12rem;
	color: #3f3f3f;
}
.m_link {
	background: url('../img/link.png')left no-repeat;
	background-size: 1.32rem 1.28rem;
}
.email {
	background: url('../img/email.png')left no-repeat;
	background-size: 1.32rem 1.28rem;
}
/*----联系我们结束-----*/
/*----圈子内部资料 start-----*/
.Q_arrow {
	width: 0.96rem;
	height: 0.8rem;
	display: inline-block;
	background: url(../img/Top-arrow.png)center no-repeat;
	background-size: 0.96rem 0.8rem;
	vertical-align: middle;
	margin: -0.1rem 0 0 0.4rem;
}
.Q_arrowOn {
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: all .5s;
}
.cp_eject {
	position: fixed;
	top: 3.52rem;
	left: 0;
	z-index: 999;
	display: none;
}
.meng {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #000;
	-webkit-opacity: 0.5;
	opacity: 0.5;
}
.PostSlide {
	position: fixed;
	top: 3.52rem;
	left: 0;
	z-index: 1001;
	background-color: #fff;
	width: 100%;
	height: auto;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	display: none;
}
.postslideList {
	line-height: 3.52rem;
	font-size: 1.2rem;
	color: #888;
	border-bottom: 1px solid #e1e1e1;
}
.post_list {
	display: block;
	height: 100%;
	width: 100%;
}
/*----招聘详情 start----*/
.eject {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.send-card {
	height: 9.96rem;
	width: 21.6rem;
	background-color: #fff;
	-webkit-border-radius: 0.4rem;
	border-radius: 0.4rem;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;
	margin: -4.98rem 0 0 -10.8rem;
	overflow: hidden;
}
.remark-information {
	height: 6.4rem;
	width: 100%;
	padding-top: 1.44rem;
}
.remark-information .remark {
	height: 3.52rem;
	width: 94%;
	line-height: 3.52rem;
	background-color: #f0f4f7;
	margin: 0 auto 0;
	padding: 0 0.8rem;
	-webkit-border-radius: 0.4rem;
	border-radius: 0.4rem;
}
.remark-information .remark .remark-text {
	width: 100%;
	height: auto;
	background-color: #f0f4f7;
	color: #555;
	font-size: 0.96rem;
}
.EbtnBox {
	height: 3.56rem;
	width: 100%;
	border-top: 1px solid #e1e1e1;
}
.rtd_sure {
	border-right: 1px solid #e1e1e1;
}
.rtd_sure,.rtd_cancel{
	float: left;
	width: 50%;
	background-color: #fff;
	height: 3.56rem;
	font-size: 1.12rem;
	color: #888;
	font-weight: bolder;
}
/*---活动详情 start-----*/
.ad_timeSet {
	float: right;
	margin-top: 0.8rem;
	font-size: 0.8rem;
	color: #aaa;
}
.ad_answer {
	padding: 0.52rem 0.64rem;
}
.join {
	width: 70%;
	height: 2.88rem;
	margin: 0 auto;
	display: block;
	color: #fff;
	-webkit-border-radius: 0.4rem;
	border-radius: 0.4rem;
	font-size: 1.2rem;
}
.giveCard {
	width: 21.6rem;
	height: 21.96rem;
	background-color: #fff;
	-webkit-border-radius: 0.4rem;
	border-radius: 0.4rem;
	position: fixed;
	top: 20%;
	left: 50%;
	z-index: 1100;
	margin-left: -10.8rem;
	overflow: hidden;
}
.cardbg {
	width: 100%;
	height: 12.8rem;
	text-align: center;
	overflow: hidden;
}
.cardbg img {
	width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
.rtd_tixing {
	line-height: 5.6rem;
	text-align: center;
	font-size: 1.28rem;
	color: #333;
}
/*--- 问答列表 start ---*/
.Q_searchBox {
	width: 63%;
	height: 3.52rem;
	float: left;
	padding: 0.48rem 0;
}
.Q_search {
	background-color: #f0f4f7;
	height: 2.56rem;
	line-height: 2.5556rem;
	width: 100%;
	-webkit-border-radius: 0.4rem;
	border-radius: 0.4rem;
}
.Q_searchBtn {
	display: inline-block;
	height: 100%;
	width: 15%;
	vertical-align: middle;
	background: url('../img/search.png')center no-repeat;
	-webkit-background-size: 1.48rem;
	background-size: 1.48rem;
}
.Q_searchInput {
	font-size: 200%;
	width: 83%;
	background-color: #f0f4f7;
}
.Q_ReadAll {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1100;
	width: 25%;
	height: 3.52rem;
	line-height: 3.52rem;
	text-align: center;
	font-size: 1.36rem;
}
.Q_All {
	display: block;
	width: 100%;
	height: 100%;
}
.slideDown {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: none;
}
.Smeng {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 3.52rem;
	left: 0;
	z-index: 1001;
	background-color: #000;
	opacity: 0.5;
}
.Q_slideList {
	width: 25%;
	height: auto;
	background-color: #fff;
	position: fixed;
	top: 3.52rem;
	right: 0;
	z-index: 1002;
	border-bottom: 1px solid #e1e1e1;
	display: none;
}
.Q_slideList li {
	width: 100%;
	height: 3.52rem;
	line-height: 3.52rem;
	border-bottom: 1px solid #e1e1e1;
	text-align: center;
	font-size: 1.04rem;
	color: #888;
}
